.section-login{
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 8px;
}

.section-login > h3 {
    font-weight: bold;
}

.section-login > form {
    display: flex;
    flex-direction: column;
}

.section-login form div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.section-login input {
    border: 1px solid rgb(224, 224, 224);
    border-radius: 2px;
    width: 350px;
}

.section-login form p {
    color: red;
    padding-bottom: 8px;
}

.submit-button{
    background: rgb(59, 130, 246);
    width: 35%;
    border-radius: 4px;
    height: 40px;
    padding: 0 5px;
    color: rgb(255, 255, 255);
}
.submit-button:hover {
    opacity: 0.8;
}