.section-register{
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 8px;
}

.section-register > h3 {
    font-weight: bold;
}

.section-register > form {
    display: flex;
    flex-direction: column;
}

.section-register form div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.section-register input {
    border: 1px solid rgb(224, 224, 224);
    border-radius: 2px;
    width: 350px;
}

.section-register form p {
    color: red;
    padding-bottom: 8px;
}