
.sidebar-section {
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.sidebar-section > h2 {
    font-weight: bold;
}

.playlist-item{
    display: flex;
    flex-direction: row;
    gap: 16px;
}